.photoPost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.2rem;
  margin-bottom: 3.2rem;
}

.preview {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
}

.error {
  color: #f31;
  font-size: 1.4rem;
  margin-block: 1.6rem;
  line-height: 1.5;
}

@media (max-width: 640px) {
  .photoPost {
    grid-template-columns: 1fr;
  }
}
