.loginContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
  min-height: 100vh;
}

.loginContainer::before {
  content: '';
  background: url('../../assets/login-bg.jpg');
  background-position: center;
  display: block;
  background-size: cover;
}

.login {
  max-width: 48rem;
  padding: 1.6rem;
  margin-top: 20vh;
}

@media (max-width: 640px) {
  .loginContainer {
    grid-template-columns: 1fr;
    align-content: center;
  }
  .loginContainer::before {
    display: none;
  }
  .login {
    max-width: initial;
    margin-top: initial;
  }
}
